.socials-container {
  display: flex;
  flex-wrap: wrap;
}

social-btn {
  display: flex;
  flex:0 0 auto;
  font-family: Arial, serif;
  min-width: 150px;
  font-size: 15px;
  color: #3c4146;
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #d6d9dc;
  margin: 8px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: 0.3s ease-in-out all;
}

social-btn:hover {
  border-color: #c8ccd0;
  background-color: #eff0f1;
}

social-btn:focus {
  border-color: #c8ccd0;
  background-color: #eff0f1;
  color: #242729;
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
  outline: none;
}

social-btn img {
  width: 18px;
  height: 18px;
}

social-btn span {
  text-align: center;
  padding-left: 5px;
}
